.github/workflows/influx_admin_token.txt
**/*.pptx
# Ignore everything inside secrets/
**/secrets/*
# EXCEPT .example.txt files
!**/secrets/*.example*
!**/secrets/*example*

*.log
*.csv
*.png

__pycache__/

logs/
output/

.gitconfig

.env
