**/__pycache__
**/.coverage
**/coverage.xml
**/htmlcov
**/test/__pycache__
**/test/coverage.xml
**/test/htmlcov
**/.pytest_cache
**/.mypy_cache
**/.nox
**/.venv
**/venv
**/env
**/build
**/dist
**/*.egg-info
**/.DS_Store
**/.idea
**/.vscode