############################################
# Spring Boot & Server
############################################
SPRING_PROFILES_ACTIVE=dev
SERVER_PORT=8080

############################################
# Logging
############################################
logging_level_com_telematic_telematic_rsu_management_service=DEBUG

############################################
# MySQL Datasource
############################################
spring_datasource_url=jdbc:mysql://localhost:3306/rsm?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
spring_datasource_username=root
spring_datasource_password=
spring_datasource_driver=com.mysql.cj.jdbc.Driver
spring_jpa_hibernate_dialect=org.hibernate.dialect.MySQLDialect

############################################
# Actuator (optional)
############################################
# (Optional actuator)
MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE=health,info,metrics
MANAGEMENT_ENDPOINT_HEALTH_SHOW_DETAILS=always

############################################
# NATS Messaging
############################################
messaging_nats_enabled=true
messaging_nats_uri=nats://localhost:4222
messaging_nats_dispatcher_strategy=isolated

############################################
# Data Ingestion
############################################
data_ingestion_subject_prefix=unit.*.stream.rsu.*
data_ingestion_influx_remove_fields=
data_ingestion_queue_group=ingestion-workers
data_ingestion_workers=2
data_ingestion_subjects=
data_ingestion_workers_per_unit_rsu_pair=5
data_ingestion_refresh_initial_delay_ms=30000
data_ingestion_refresh_interval_ms=30000
data_ingestion_influx_url=http://localhost:8086
data_ingestion_influx_token=my_influxdb_token
data_ingestion_influx_org=my_org
data_ingestion_influx_bucket=rsu_data
data_ingestion_influx_token=$(cat ./secrets/influx_admin_token.txt)

############################################
# Registration API
############################################
registration_tru_autoconfig_subject=unit.*.register.rsu.autoconfig
registration_tru_config_subject=unit.*.register.rsu.config
registration_tru_config_request_timeout=5

############################################
# Health Monitoring
############################################
monitor_rsu_health_subject=unit.*.monitor.rsu.health_status
monitor_rsu_health_health_timeout_seconds=10
monitor_plugin_health_subject=unit.*.monitor.plugin.health_status
monitor_plugin_health_health_timeout_seconds=10

############################################
# Data Selection
############################################
data_selection_available_topics_subject=unit.*.topic.rsu.available_topics
data_selection_available_topics_request_timeout_seconds=10
data_selection_confirm_topics_subject=unit.*.topic.rsu.selected_topics
data_selection_confirm_topics_request_timeout_seconds=10

